body {
    font-family: Arial, sans-serif;
    background-image: url('https://revistademanabi.files.wordpress.com/2022/02/uleam-campus-matriz-en-manta.jpeg');
    background-color: #f4f4f4;
    background-repeat: no-repeat;
	  background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
  }
  
  .container h2 {
    text-align: center;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .container input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  
  p {
    margin: 10px 0;
  }
  